<h2>Order Form</h2>
<form [formGroup]="form" (ngSubmit)="placeOrder()">
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Address" formControlName="address"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!form.valid">Place Order</button>
</form>
