<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">
      <mat-icon>shopping_cart</mat-icon>
      Shoe Grab
    </a>

    <div class="navbar-links">
      <a class="nav-link" routerLink="/">Home</a>
      <a class="nav-link" routerLink="/products">Products</a>
      <a class="nav-link" routerLink="/about">About Us</a>
      <a *ngIf="isLoggedIn" class="nav-link" routerLink="/profile">Profile</a>
      <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/login">Login</a>
      <a *ngIf="isLoggedIn" class="nav-link" (click)="onLogout()">Logout</a>
      <a class="nav-link basket-link" routerLink="/basket">
        <mat-icon>shopping_basket</mat-icon>
        <span class="basket-count">{{basketItemsAmount}}</span> <!-- Replace with dynamic count -->
      </a>
    </div>
  </div>
</nav>