<mat-toolbar color="primary" class="navbar">
  <!-- Logo -->
  <a class="navbar-logo" routerLink="/">
    <mat-icon>shopping_cart</mat-icon>
    ShopEase
  </a>

  <!-- Navigation Links -->
  <span class="spacer"></span>
  <nav class="navbar-links">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/products">Products</a>
    <a mat-button routerLink="/about">About us</a>
    <a mat-button routerLink="/basket" class="basket-link">
      Basket <mat-icon>shopping_basket</mat-icon>
    </a>
  </nav>


